<template>
  <div class="container">
    <h1>Login</h1>
    <form @submit.prevent="login()">
      <input
        type="text"
        class="form-control my-2"
        placeholder="email"
        v-model="usuario.email"
      />
      <input
        type="text"
        class="form-control my-2"
        placeholder="password"
        v-model="usuario.password"
      />
      <b-button type="submit">Acceder</b-button>
    </form>
    <div v-if="mensaje !== ''">
      <p>{{mensaje}}</p>
    </div>
  </div>
</template>
<script>

import { mapState, mapMutations, mapActions } from "vuex";
import router from '../router';

export default {
  data() {
    return {
      //usuario: {email: 'puma@gmail.com', password: '123456789'},
      usuario: {email: '', password: ''},
      mensaje: ''
    }
  },
  methods:{
    ...mapMutations(['obtenerUsuario']),
    ...mapActions(['guardarUsuario', 'leerToken', 'cerrarSesion']),
    login(){
      console.log('Usuario: ' + this.usuario.email)
      console.log('Contraseña: ' + this.usuario.password)

/*       const formData = new FormData();
      formData.append('email',this.usuario.email)
      formData.append('password',this.usuario.password) */

      this.axios.post('login', this.usuario)
        .then(res => {
          console.log('Estas en la funcion login')
          const token = res.data.token;
          console.log('Token: ' + token)
          this.guardarUsuario(token);
        })
        .catch(err => {
          console.log("Error login")
          console.log(err);
          this.mensaje = err;
        })
    }
  }
}

</script>